[submodule "web/sites/all/modules/varnish"]
	path = web/sites/all/modules/varnish
	url = http://git.drupal.org/project/varnish.git
[submodule "drupal6/sites/all/modules/varnish"]
	path = drupal6/sites/all/modules/varnish
	url = http://git.drupal.org/project/varnish.git
